.avatar img {
    max-width: 100%;
}

.left-div {
    padding: 0;
}

.avatar-div {
    padding: 1rem 0 auto 0;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message p{
    margin-top: 5%;
    font-weight: var(--semibold);
}

.mic-controls {
    display: flex;
    gap: 10px;
    background-color: #F1F1EF;
    padding: 0.5rem;
    border-radius: 999px;
    margin-bottom: 2%;
}

.mic-controls img {
    cursor: pointer;
}

.right-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}