.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-akira {
    font-weight: 500;
    margin: 0;
}

.welcome-nav {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pp-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
