:root {
    --semibold: 600;
    --radiusxl: 24px;
    --fontsize-lg: 28px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Graphik';
}

.app {
    min-height: 100vh;
    background-image: url('/bg-accenture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}